{
  "presets": [
    [
      "@babel/preset-env",
      "react",
      "es2015",
      "react-dom",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
